<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo11.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/myPhoto.jpg">
        <img class="logo" src="/img/logo11.png">
    </div>
    
    {{>footer}}

</body>

</html>